/*===== SECTION =====*/
.l-section3 {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    padding-top: 200px;
    padding-left: 120px;
    background-image: url(../img/Contacto.jpg); /* Gradiente negro en la parte superior */
    margin-top: -100px;
    z-index: 101;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Asegura que la sección cubra toda la altura de la ventana */
    background-attachment: fixed; /* Aquí se aplica el efecto parallax */
    position: relative; /* Añadir posición relativa */
}

.l-section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Ajusta la altura de la sombra según sea necesario */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0));
    z-index: 102; /* Asegúrate de que esté encima del fondo de la imagen */
    pointer-events: none; /* Para que no interfiera con otros elementos */
}

.curved-bottom {
    clip-path: ellipse(150% 100% at 50% 100%);
    background-color: rgb(255, 255, 255); /* Fallback color */
    box-shadow: 0 -80px 20px -80px rgba(255, 255, 255, 0.9); /* Add white shadow */
    margin-top: -45px; /* Adjust as needed */
    z-index: 99;
}

.left-content {
    width: 35%;
    z-index: 1;
    line-height: 1.3;
    text-align: left;
}

.right-content {
    width: 40%;
}

.small-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.curved-line {
    border: none;
    border-top: 2px solid #ffffff;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.left-content h1 {
    font-size: 37px;
    margin-bottom: 20px;
}

.left-content p {
    margin-bottom: 15px;
}

.primary-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.right-content h1 {
    font-size: 56px;
    margin-bottom: 10px;
}

.right-content form {
    display: flex;
    flex-direction: column;
}

.right-content form input, 
.right-content form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 7px;
    background-color: #1f1f1f;
    color: #ffffff;
}

.right-content form input:valid,
.right-content form textarea:valid,
.right-content form input:focus,
.right-content form textarea:focus {
    outline: none;
    border: 1px solid #1f1f1f; /* Color del borde igual que el fondo para que no sea visible */
    box-shadow: 0 0 0 1px #1f1f1f, 0 0 0 2px transparent, 0 0 0 4px #007bff; /* Degradado del borde */
}

.right-content form input:focus,
.right-content form textarea:focus {
    box-shadow: 0 0 0 1px #1f1f1f, 0 0 0 2px transparent, 0 0 0 4px #00d4ff; /* Degradado del borde */
}

.right-content form input::placeholder, 
.right-content form textarea::placeholder {
    color: #888888;
}

.right-content form textarea {
    resize: none;
    height: 100px;
}

.right-content .primary-button {
    align-self: flex-start;
}

@media (max-width: 786px) {
    .l-section3 {
        padding: 20px;
        flex-direction: column;
        background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
        background-position: center; /* Centra la imagen */
        background-attachment: scroll; /* Hace que la imagen de fondo esté fija al scroll en dispositivos móviles */
        height: auto; /* Ajusta la altura automáticamente según el contenido */
    }

    .curved-bottom {
        clip-path: ellipse(250% 100% at 50% 100%);
           margin-top: -70px; /* Adjust as needed */
    }

    .left-content, 
    .right-content {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .right-content form {
        align-items: center;
    }

    .right-content form input, 
    .right-content form textarea {
        width: 100%;
    }

    .primary-button {
        width: 100%;
        padding: 10px 20px;
    }
}



@media (max-width: 768px) {
    .conversion-section {
        flex-direction: column; /* Cambia la dirección a columna */
        padding: 20px; /* Reduce el padding para dispositivos móviles */
        align-items: center; /* Centra los elementos */
    }

    .left-content {
        order: 1; /* Asegura que el contenido de la izquierda esté primero */
        width: 100%; /* Asegura que ocupe todo el ancho */
        
        margin-bottom: 20px; /* Añade espacio entre la información y el formulario */
    }

    .right-content {
        order: 2; /* Asegura que el contenido de la derecha esté segundo */
        width: 100%; /* Asegura que ocupe todo el ancho */
        text-align: center; /* Centra el texto */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-content form {
        width: 100%; /* Asegura que el formulario ocupe todo el ancho */
        max-width: 600px; /* Opcional: límite de ancho para mejor apariencia */
    }

    .right-content h1, .right-content .small-text, .right-content hr {
        width: 100%;
        
    }

    .footer-copyright{
        font-size: 13px;
        text-align: center;
    }
}